<div class='row rounded-lg overflow-hidden'>
  <!-- Users box-->
  <div class='col-12 px-0'>
    <div class='bg-white'>
      <div class='bg-gray px-4 py-2 bg-light'>
        <p class='h5 mb-0 py-1'>
          Acompanhe suas Solicitações
        </p>
      </div>

      <div class='messages-box'>
        <div class='list-group rounded-0'>
          {{#each solicitacoes as |solicitacao|}}
            {{#if solicitacao.respondida}}
              <a
                href='/painel/solicitacao/{{solicitacao.id}}'
                class='list-group-item list-group-item-action active list-group-item-success text-white border-white rounded-0'
              >
                <div class='media'>
                  <div class='media-body ml-4'>
                    <div
                      class='d-flex align-items-center justify-content-between mb-1'
                    >
                      <h5 class='mb-0'>
                        {{solicitacao.assunto}}
                      </h5>
                      <small class='small font-weight-bold'>
                        {{dateFormat solicitacao.updatedAt}}
                      </small>
                    </div>
                    <p class='font-italic mb-0 text-small'>
                      {{truncate solicitacao.descricao 50}}
                    </p>
                  </div>
                </div>
              </a>
            {{/if}}
          {{/each}}
          {{#each solicitacoes as |solicitacao|}}
            {{#unless solicitacao.respondida}}
              <a
                href='/painel/solicitacao/{{solicitacao.id}}'
                class='list-group-item list-group-item-action list-group-item-light rounded-0'
              >
                <div class='media'>
                  {{! <img
                  src='https://bootstrapious.com/i/snippets/sn-chat/avatar.svg'
                  alt='user'
                  width='50'
                  class='rounded-circle'
                /> }}
                  <div class='media-body ml-4'>
                    <div
                      class='d-flex align-items-center justify-content-between mb-1'
                    >
                      <h6 class='mb-0'>
                        {{solicitacao.assunto}}
                      </h6>
                      <small class='small font-weight-bold'>
                        {{dateFormat solicitacao.updatedAt}}
                      </small>
                    </div>
                    <p class='font-italic text-muted mb-0 text-small'>
                      {{truncate solicitacao.descricao 50}}
                    </p>
                  </div>
                </div>
              </a>
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
